<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Property</title>
</head>
<body>
    <div>
        <h2>Update Property</h2>
    </div>

    <form action="../post_update_property/{{property.id}}" method="POST">
       {%csrf_token %}
        <input type="text" name="property_name" value="{{property.property_name}}">
        <input type="integer" name="price" value="{{property.price}}">
        <textarea name="property_detail" cols="30" rows="10" vlaue="{{property.property_detail}}">

        </textarea>
        <input type="submit" value="Update property"/>
    </form>
</body>
</html>